@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

:root {
    --main-font-family: 'Montserrat', sans-serif;
    --rectangle-color: #38cee2;
    --background-color: #f1f1f1;
    --letter-color: #ffffff;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: var(--background-color);
}

.title {
    font-weight: bold;
    font-family: var(--main-font-family);
    margin-top: 0px;
    margin-bottom: 0px;
    color: var(--letter-color);
    font-size: 18px;
    text-align: center;
}

.colaborador-icon {
    width: 150px;
    height: 150px;
    align-items: center;
}

.admin-icon {
    width: 150px;
    height: 150px;
}

.rectangle-index {
    width: 300px;
    height: 400px;
    background-color: var(--rectangle-color);
    font-family: var(--main-font-family);
    border-radius: 10px;
    margin: 5px;
    padding: 20px;
    color: var(--letter-color);
    text-align: center;
    font-size: 18px;
    line-height: 1.5;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.rectangle-login-user {
    width: 300px;
    height: 250px;
    background-color: var(--rectangle-color);
    font-family: var(--main-font-family);
    border-radius: 20px;
    color: var(--letter-color);
    text-align: center;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2px;
}

.rectangle-choose-user {
    width: 600px;
    height: auto;
    background-color: var(--rectangle-color);
    font-family: var(--main-font-family);
    border-radius: 20px;
    color: var(--letter-color);
    text-align: center;
    font-size: 18px;
    line-height: 1.5;
    padding: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}

.rectangle-choose-user img {
    max-width: 48%;
    margin-bottom: 10px;
    margin-top: 30px;
}

.rectangle-entry-product {
    width: 250px;
    height: 500px;
    background-color: var(--rectangle-color);
    font-family: var(--main-font-family);
    border-radius: 20px;
    color: var(--letter-color);
    text-align: center;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 10px;
}

.rectangle-create-product {
    width: 250px;
    height: 600px;
    background-color: var(--rectangle-color);
    font-family: var(--main-font-family);
    border-radius: 20px;
    color: var(--letter-color);
    text-align: center;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
}

.align-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px;
    align-items: center;
    margin-bottom: 15px;
}

.rectangle-update-product {
    width: 250px;
    height: 700px;
    background-color: var(--rectangle-color);
    font-family: var(--main-font-family);
    border-radius: 20px;
    color: var(--letter-color);
    text-align: center;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 10px;
}

.rectangle-delete-product {
    width: 250px;
    height: 400px;
    background-color: var(--rectangle-color);
    font-family: var(--main-font-family);
    border-radius: 10px;
    color: var(--letter-color);
    text-align: center;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
}

.rectangle-get-product {
    width: 250px;
    height: 700px;
    background-color: var(--rectangle-color);
    font-family: var(--main-font-family);
    border-radius: 20px;
    color: var(--letter-color);
    text-align: center;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
}


#serverMessage {
    margin-top: 0px;
    padding: 0;
    font-size: 18px;
    color: #3498db;
    font-weight: bold;
}

.button {
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button input[type="submit"] {
    background-color: #3498db;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.button input[type="submit"]:hover {
    background-color: #2980b9;
}